-- {{ ansible_managed }}

vim.g.mapleader = " "

vim.keymap.set("n", "<leader>pv", ":Ex<CR>", { desc = "Launch Netrw" })
vim.keymap.set("n", "<leader>nh", ":nohl<CR>", { desc = "Cancel search highlight" })
