---
# {{ ansible_managed }}
rules:
  braces:
    level: warning
    max-spaces-inside: 1
  line-length:
    max: 150
    level: warning
  comments:
    require-starting-space: false
    min-spaces-from-content: 1
    level: warning
