# {{ ansible_managed }}
[user]
  name = Maurizio TORTI
{% if ansible_domain|length > 0 %}
  email = mtorti@{{ ansible_domain }}
{% else %}
  email = maurizio.torti@djeeks.com
{% endif %}
[core]
  autocrlf = input
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen%cd %C(bold blue)%an%Creset'
