! {{ ansible_managed }}
!
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #353535, #353535, #f32323
rofi.color-normal: #353535, #fdf6e3, #353535, #f32323, #fdf6e3
rofi.color-active: #353535, #fdf6e3, #353535, #f32323, #fdf6e3
rofi.color-urgent: #353535, #fdf6e3, #353535, #f32323, #fdf6e3
rofi.separator-style: solid
rofi.show-icons: true
rofi.font: DejaVu Sans Mono 12
rofi.hide-scrollbar: true
