// {{ansible_managed }}

configuration {
  combi-modi: "drun";
  font: "DejaVu Sans Mono 12";
  show-icons: true;
  scroll-method: 1;
}


window {
  background-color: #353535; 
	text-color:	#fdf6e3;
}


prompt {
	text-color:	#fdf6e3;
}
textbox-prompt-colon {
	text-color:	#fdf6e3;
}


entry {
	text-color:	#fdf6e3;
}


element normal.normal {
  background-color: #353535; 
	text-color:	#fdf6e3;
}
element alternate.normal {
  background-color: #393939; 
	text-color:	#fdf6e3;
}
element selected.normal {
  background-color: #f32323; 
	text-color:	#fdf6e3;
}


element-text {
  background-color: inherit; 
	text-color:	inherit;
}
element-icon {
  background-color: inherit; 
	text-color:	inherit;
}


listview {
  padding: 2px 0px 0px ;
  scrollbar: true;
  border-color: #f32323;
  spacing: 2px ;
  border: 2px 0px 0px ;
}


scrollbar {
  handle-color: #f32323;
}
