# {{ ansible_managed }}
 
# General
copy_on_select yes
detect_urls yes
enable_audio_bell no
mouse_hide_wait 1.0
scrollback_lines 100000
strip_trailing_spaces smart
tab_bar_style powerline
term xterm-256color

# Shortcuts
map ctrl+shift+o launch --location=hsplit
map ctrl+shift+e launch --location=vsplit
map ctrl+backspace send_text all \x17
enabled_layouts splits:split_axis=horizontal
