# {{ ansible_managed }}
 
# General
window_padding_width 5
copy_on_select yes
detect_urls yes
enable_audio_bell no
mouse_hide_wait 1.0
scrollback_lines 100000
strip_trailing_spaces smart
tab_bar_style powerline
term xterm-kitty
enabled_layouts tall,fat,grid,horizontal,splits,stack,vertical

dynamic_background_opacity yes
background_opacity 0.95

# BEGIN_KITTY_THEME
# {{ kitty_default_theme }}
include current-theme.conf
# END_KITTY_THEME
